.container {
    max-width: 800px;
    margin: 0 auto;
 
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.content {
    padding: 20px;
}

.hourly-forecast {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 10px;
    margin-bottom: 20px;
}

.hourly-forecast-item {
    background-color: #1b1a1a;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    color: aliceblue;
}


.ody{
    background-color: #1b1a1a;
    background-size: cover;

  
}
.dy{
    
    background: url(https://images.unsplash.com/photo-1478760329108-5c3ed9d495a0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8YmFja2dyb3VuZHxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60) no-repeat;
    background-size: cover;
}


.popup {
    display: none;
position:fixed;
    top: 0;
    left: 0;
    width: 100%;

    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

#close-popup {
    margin-top: 10px;
}
